Microsoft.PowerApps/Enviar um email personalizado quando um novo item de lista do SharePoint for adicionado.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "String",
      "metadata": { "description": "Name of the logic app." }
    },
    "logicAppLocation": {
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uaecentral",
        "westcentralus",
        "westus2",
        "[resourceGroup().location]"
      ],
      "type": "String",
      "metadata": { "description": "Location of the logic app." }
    },
    "office365users_Connection_Name": {
      "defaultValue": "office365users",
      "type": "String",
      "metadata": { "description": "Name of the connection." }
    },
    "office365_Connection_Name": {
      "defaultValue": "office365",
      "type": "String",
      "metadata": { "description": "Name of the connection." }
    },
    "sharepointonline_Connection_Name": {
      "defaultValue": "sharepointonline",
      "type": "String",
      "metadata": { "description": "Name of the connection." }
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2016-06-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('logicAppLocation')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('office365users_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]"
      ],
      "properties": {
        "state": "Disabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "defaultValue": {}, "type": "Object" },
            "$authentication": { "defaultValue": {}, "type": "SecureObject" },
            "sharepoint.site": { "defaultValue": "", "type": "String" },
            "sharepoint.list": { "defaultValue": "", "type": "String" }
          },
          "triggers": {
            "When_a_new_item_is_created": {
              "recurrence": { "frequency": "Minute", "interval": 5 },
              "splitOn": "@triggerBody()?.value",
              "metadata": {
                "flowSystemMetadata": { "swaggerOperationId": "GetOnNewItems" }
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://acadkroton.sharepoint.com/sites/Compliance'))}/tables/@{encodeURIComponent(encodeURIComponent('8cb8154f-a42e-4c4d-b23b-94b3eba14791'))}/onnewitems",
                "authentication": "@parameters('$authentication')"
              },
              "conditions": []
            }
          },
          "actions": {
            "Get_my_profile_(V2)": {
              "runAfter": {},
              "metadata": {
                "flowSystemMetadata": { "swaggerOperationId": "MyProfile_V2" }
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365users']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/codeless/v1.0/me",
                "queries": { "$select": "givenName, mail" },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Send_Email": {
              "runAfter": { "Get_my_profile_(V2)": ["Succeeded"] },
              "metadata": {
                "flowSystemMetadata": { "swaggerOperationId": "SendEmailV2" }
              },
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['office365']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "To": "@{body('Get_my_profile_(V2)')?['mail']};",
                  "Subject": "Cadastro realizado com sucesso!",
                  "Body": "Hi @{body('Get_my_profile_(V2)')?['givenName']}, \n\nSeu cadastro foi inserido com sucesso."
                },
                "path": "/v2/Mail",
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condição": {
              "actions": {
                "Atualizar_item": {
                  "runAfter": {},
                  "metadata": {
                    "flowSystemMetadata": { "swaggerOperationId": "PatchItem" }
                  },
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                      }
                    },
                    "method": "patch",
                    "body": {
                      "Title": "@triggerBody()?['Title']",
                      "Voc_x00ea_possuiparentesemcargos": true,
                      "Nota": 5
                    },
                    "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://acadkroton.sharepoint.com/sites/Compliance'))}/tables/@{encodeURIComponent(encodeURIComponent('8cb8154f-a42e-4c4d-b23b-94b3eba14791'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}",
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": { "Send_Email": ["Succeeded"] },
              "else": {
                "actions": {
                  "Atualizar_item_2": {
                    "runAfter": {},
                    "metadata": {
                      "flowSystemMetadata": {
                        "swaggerOperationId": "PatchItem"
                      }
                    },
                    "type": "ApiConnection",
                    "inputs": {
                      "host": {
                        "connection": {
                          "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                        }
                      },
                      "method": "patch",
                      "body": {
                        "Title": "@triggerBody()?['Title']",
                        "Voc_x00ea_possuiparentesemcargos": false,
                        "Nota": 0
                      },
                      "path": "/datasets/@{encodeURIComponent(encodeURIComponent('https://acadkroton.sharepoint.com/sites/Compliance'))}/tables/@{encodeURIComponent(encodeURIComponent('8cb8154f-a42e-4c4d-b23b-94b3eba14791'))}/items/@{encodeURIComponent(triggerBody()?['ID'])}",
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@triggerBody()?['Voc_x00ea_possuiparentesemcargos']",
                  true
                ]
              },
              "type": "If"
            }
          },
          "description": "Envie para você mesmo ou outra pessoa um email personalizado sempre que um novo item for adicionado a uma lista de SharePoint selecionada."
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365users": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365users')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365users_Connection_Name'))]",
                "connectionName": "[parameters('office365users_Connection_Name')]"
              },
              "office365": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_Connection_Name'))]",
                "connectionName": "[parameters('office365_Connection_Name')]"
              },
              "sharepointonline": {
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]",
                "connectionName": "[parameters('sharepointonline_Connection_Name')]"
              }
            }
          }
        },
        "runtimeConfiguration": {
          "lifetime": { "unit": "Day", "count": 30 },
          "collections": { "maximumItemCount": 5000 },
          "performanceProfile": { "throttles": { "mode": "Low" } },
          "retryPolicy": {
            "type": "Exponential",
            "interval": "PT5M",
            "count": 2,
            "minimumInterval": "PT5M",
            "maximumInterval": "PT1H"
          },
          "usageConfiguration": {
            "name": "USER-D2AE0B4CFC7341F086F34F4D67088A4F"
          }
        },
        "integrationAccount": {
          "name": "beaae4598b6e459f8731f882c7472b64-brazilsouth",
          "id": "subscriptions/e11470c2-cf7a-469b-98c8-2bfd43e8ae5b/resourceGroups/beaae4598b6e459f8731f882c7472b64-ia/providers/Microsoft.Logic/integrationAccounts/beaae4598b6e459f8731f882c7472b64-brazilsouth",
          "type": "Microsoft.Logic/integrationAccounts"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365users_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365users')]"
        },
        "displayName": "[parameters('office365users_Connection_Name')]"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_Connection_Name')]"
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sharepointonline_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"
        },
        "displayName": "[parameters('sharepointonline_Connection_Name')]"
      }
    }
  ]
}
